In [ ]:
# Name Tayba islam 
#roll no. SP25-BBD-078
# Task no. 1

In [26]:
#1.Write a for loop to print all even numbers from 2 to 20.
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
#2.Create a list of names and use a for loop to print each name in uppercase.
names=['shiza','fiza','alia','noor','eshal','maham']
for name in names:
    print(name.upper())

SHIZA
FIZA
ALIA
NOOR
ESHAL
MAHAM

In [28]:
#3.Use a for loop with range() to print numbers from 10 to 1 in reverse order.
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [29]:
#4.Iterate through a list of integers and print only the numbers that are divisible by 3.
integer=[1,2,3,4,5,6,7,8,9,0,12]
for i in integer:
    if i%3==0:
        print(i)

3
6
9
0
12

In [30]:
#5.Write a loop that prints the squares of numbers from 1 to 10.
for i in range(1,11):
    square=i**2
    print(square)

1
4
9
16
25
36
49
64
81
100

In [35]:
#6.Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.
temp_c=[12,16,18,25,19,30]
# as we know °F=(°C×1.8)+32
for i in temp_c:
    b=(i*1.8)+32
    print(f"{i} C is equal to {b} F")

12 C is equal to 53.6 F
16 C is equal to 60.8 F
18 C is equal to 64.4 F
25 C is equal to 77.0 F
19 C is equal to 66.2 F
30 C is equal to 86.0 F

In [41]:
#7.Create a for loop that prints the multiplication table of 5.
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [48]:
#8.Write a program to find the sum of all numbers in a list using a for loop.
num=[1,2,4,6,8,12]
total=0
for i in num:
    total += i 
    print(total)

1
3
7
13
21
33

In [51]:
#9.Use a for loop to iterate through a string and print each character separately.
name=("my name is Maham")
print(type(name))
for i in name:
    print(i)

<class 'str'>
m
y

n
a
m
e

i
s

M
a
h
a
m

In [55]:
#10.Create a list of words and use a for loop to print only the words with more than 5 letters
name=['alia','maham','quratulain','pakeeza','eshal','fareena']
for i in name:
    if len(i)>5:
        print(i)
else:
    print("not available")

quratulain
pakeeza
fareena
not available